body {
  /*background-image: url(img/149817.jpg);*/
  background-image: url(img/029-hog_cay_broshuretaxi_to_runway1.jpg);
  background-size: cover;
  /*margin: 0 auto;*/
  background-repeat: no-repeat;
  max-width: 500px;
  width: auto;
  height: 650px;
  font-family: arial;
}

.gameframe {
  margin: 40px 40px 0px;
  width: 500px;
}
.title {
color: white;

}

h2 {
  font-size: 42px;
  font-weight: 900;
  margin: 10px 0px;
  /*-webkit-text-stroke: 1px #0E1322;*/
}

#row {
  display: flex;
  flex-direction: row;
  /*height: 30px;*/
  width: 500px;
}

#startGame {
  color:white;
  background-color: #44AFCD;
  border: 1px solid white;
  /*border-radius: 5px;*/
  margin: 5px 5px 5px 0;
  padding: 5px 5px;
  width: 90px;
}
#startGame:hover {
  color:orange;
  background-color: #44AFCD;
  border: 1px solid orange;
}

#board {

  /*border: 2px solid #44AFCD;*/
  /*border-radius: 5px;*/
  width: 500px;
  height: 500px;
  background-color: white;
  /*margin-bottom:50px ;*/
  /*z-index: 1;*/
}

#planeSlow {
  width: 46px;
  height: 35px;
  position: relative;
  top: 0;
  left: 0;
  /*---------animation*/
  animation-name: box-step;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

#planeFast {
  width: 30px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
    /*---------animation*/
  animation-name: box-step;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@keyframes box-step {
  0% {background: none; left:0%; top:0%;}
  2% {background: none; transform: rotate(90deg)}
  /*turn1*/
  25% {background: none; left: 60%; top:0px;transform: rotate(90deg)}
  27% {background: none; transform: rotate(180deg) }
/*//turn 2*/
  50% {background: none; left: 60%; top: 80%; border-radius: 100%;transform: rotate(180deg)}
  52% {background: none; transform: rotate(270deg) }
/*turn 3*/
  75% {background: none; left:0%; top:80%;transform: rotate(270deg);}
  77% {background: none; transform: rotate(360deg)}
/*starting turn*/
  100% {background: none; left:0px; top:0px;transform: rotate(360deg) }
}

#plane1 {
  width: 50px;
  height: 46px;
  position: relative;
  top:40%;
  left:20%;
  z-index: 0;
}

#clouds {
  width: 20px;
  height: auto;
  position: relative;
  z-index: 0;
}

/*.cloudDisappear {
  visibility:hidden;
}*/
/*//-------------doesnt work------*/
/*.scoredGreen {
  animation-name: greenbox;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@@keyframes greenbox {
  52% {background: none; transform: rotate(270deg) }
0% {border: 2px solid green;}
90% {border: 2px solid green;}
100% {border: none;}
}*/
/*--------end of doesnt work-----------*/
