body {
  /*background-image: url(img/149817.jpg);*/
  background-image: url(img/029-hog_cay_broshuretaxi_to_runway1.jpg);
  background-size: cover;
  /*margin: 0 auto;*/
  background-repeat: no-repeat;
  max-width: 500px;
  width: auto;
  height: 650px;
  font-family: arial;
}


.title {
color: white;
}

h2 {
  font-size: 30px;
  -webkit-text-stroke: 1px #0E1322;
}

.gameframe {
  margin: 40px 40px 0px;
}

#board {
  /*width: 400px;
  height: 400px;*/
  width: 500px;
  height: 500px;
  background-color: white;
  /*margin-bottom:50px ;*/
  /*z-index: 1;*/
}

#planeSlow {
  width: 46px;
  height: 35px;
  position: relative;
  top: 0;
  left: 0;
  /*---------animation*/
  animation-name: box-step;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

#planeFast {
  width: 30px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
    /*---------animation*/
  animation-name: box-step;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@keyframes box-step {
  0% {background: none; left:0%; top:0%;}
  2% {background: none; transform: rotate(90deg)}
  /*10% {background: green; left:0%; top: 0%; border-radius: 100%;transform: rotate(90deg)}*/
  25% {background: none; left: 60%; top:0px;transform: rotate(90deg)}
  27% {background: none; transform: rotate(180deg) }


  50% {background: none; left: 60%; top: 80%; border-radius: 100%;transform: rotate(180deg)}
  52% {background: none; transform: rotate(270deg) }

  75% {background: none; left:0%; top:80%;transform: rotate(270deg);}
  77% {background: none; transform: rotate(360deg)}

  100% {background: none; left:0px; top:0px;transform: rotate(360deg) }
}

#plane1 {
  width: 50px;
  height: 46px;
  position: relative;
  top:40%;
  left:40%;
  /*left:-90px;*/

}
